body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Arial', sans-serif;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
}

button {
  cursor: pointer;
}