.order-status, .status-page {
  max-width: 400px;
  margin: 40px auto;
  background-color: #1f1f1f;
  padding: 30px;
  border: 2px solid #444;
  border-radius: 12px;
  text-align: center;
}

.order-status button {
  background-color: #00ffe5;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}