.order-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: #111;
  padding: 20px;
  border-radius: 15px;
  width: 120px;
  text-align: center;
}

.product-card img {
  width: 50px;
  height: 50px;
}

.product-card p {
  margin: 10px 0;
  font-size: 14px;
}

.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.quantity-controls button {
  background-color: yellow;
  color: black;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 5px;
}

.view-order-button {
  margin: 30px auto;
  display: block;
  background-color: green;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}