.payment-page {
  padding: 30px;
  text-align: center;
}

.payment-options {
  margin: 20px 0;
}

.payment-options label {
  margin: 0 10px;
}

.payment-page input {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  border: 1px solid #333;
  border-radius: 6px;
  background-color: #111;
  color: #fff;
}

.payment-page button {
  background-color: #00cc66;
  color: #fff;
  font-weight: bold;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
